###### iterating from last to first

In [3]:
l = [100, 110, 120, 23, 44, 565, 123, 474]

In [4]:
for i in range(len(l) - 1, -1, -1):
    print(l[i])

474
123
565
44
23
120
110
100

In [1]:
print("testing-changes")

testing-changes

In [5]:
for i in range(-10, 1, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [4]:
print("sam", "reddy", "is", "a", "goat", sep = "   ")

sam   reddy   is   a   goat

In [5]:
a = "sampathReddy"

print(f"hi ra ...{a}")

print("hi ra ....{}".format(a))

hi ra ...sampathReddy
hi ra ....sampathReddy

In [8]:
def func(*args):
    for i in args:
        print(i)

In [9]:
func(12,23,34345,45,"sdaf")

12
23
34345
45
sdaf

###### dict and set

In [10]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [16]:
dictionary = dict(zip(keys, values))

print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [17]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [19]:
dictionary2 = dict.fromkeys(employees, defaults)

dictionary2

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [20]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

In [27]:
sample_set.update(sample_list)
    
    
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

###### print 3 random numbers divisible by 5 between a given range

In [35]:
import random

for i in range(3):
    print(random.randrange(100, 999, 5), end="  ")

565  485  420

###### lottery tickets

In [39]:
all_tickets = []
for i in range(100):
    all_tickets.append(random.randint(1, 100000))

In [40]:
winners = random.sample(all_tickets,  5)
print(winners)

[58255, 88088, 42123, 50127, 68151]

In [9]:
def currPrev(num):
    prev = 0
    sol = 0
    for i in range(1, num + 1):
        sol = prev + i
        print(f"the sum of previous num {prev} and current num {i} is {sol}")
        prev = prev + 1

In [10]:
currPrev(10)

the sum of previous num 0 and current num 1 is 1
the sum of previous num 1 and current num 2 is 3
the sum of previous num 2 and current num 3 is 5
the sum of previous num 3 and current num 4 is 7
the sum of previous num 4 and current num 5 is 9
the sum of previous num 5 and current num 6 is 11
the sum of previous num 6 and current num 7 is 13
the sum of previous num 7 and current num 8 is 15
the sum of previous num 8 and current num 9 is 17
the sum of previous num 9 and current num 10 is 19

###### tax calculator

In [11]:
def taxCalculator(income):
    tax_payable = 0
    
    if income <= 10000:
        tax_payable = 0
        
    elif income <= 20000:
        x = income - 10000
        tax_payable = x * 10/100
        
    else:
        tax_payable = 0 
        tax_payable = 10000 * 10 / 100
        tax_payable = tax_payable + (income - 20000) * 20/100
        
    return tax_payable

In [12]:
taxCalculator(450000)

87000.0

In [13]:
taxCalculator(1000000)

197000.0

In [2]:
input_string = input()

list_ = input_string.split(" ")
dict_ = {}

for i in list_:
    if i not in dict_.keys():
        dict_[i] = 1
    else:
        dict_[i] += 1
        
print(dict_)

sampath is great as great as sampath
{'sampath': 2, 'is': 1, 'great': 2, 'as': 2}

In [3]:
calories = {'apple' : 52, 'banana' : 89, 'choco' : 546}

In [6]:
calories['cappu'] = 74

In [7]:
calories

{'apple': 52, 'banana': 89, 'choco': 546, 'cappu': 74}

In [10]:
for k, v in calories.items():
    print(k) if v > 75 else None

banana
choco

In [11]:
h = [('Hi' + x) for x in ['Sam', 'Red', 'Maj']]

h

['HiSam', 'HiRed', 'HiMaj']

In [16]:
n = list(map(lambda x: x[0], ['red','green', 'blue']))

In [18]:
n

['r', 'g', 'b']