In [1]:
print('sam'); print('red')

sam
red

In [2]:
print('sam', end=" "); print('red')

sam red

#### Square

In [10]:
n = 5
for i in range(n):
    print("* "*n)
print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
n = 5
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
n = 5
for i in range(n):
    print((str(n) + ' ')*n)
print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [13]:
n = 5
for i in range(n):
    for j in range(n):
        print(n, end=" ")
    print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [15]:
n = 5
for i in range(n):
    for j in range(n):
        print(i+1, end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [20]:
n = 4
for i in range(n):
    print((str(i+1)+' ')*n)
print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [16]:
n = 3
for i in range(n):
    for j in range(n):
        print(i+1, end=" ")
    print()

1 1 1
2 2 2
3 3 3

#### Triangles

In [2]:
# i for rows (i in range 6 will creates 6 rows)
# j for columns(stars) ( j in range of 1, i+1    for row0 1star, row1 2stars, row2 3stars ...)

In [9]:
n = 6
for i in range(n):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
n = 5
for i in range(n):
    for j in range(i,n):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [19]:
n = 4
for i in range(n):
    for j in range(n-i):
        print(j+1, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

#### Pyramid

In [1]:
n = 4
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')*(i+1))
print()

   1
  2 2
 3 3 3
4 4 4 4

In [3]:
n = 4
for i in range(n):
    print(" " * (n - i - 1) + ("*" + " ") * ( i + 1))
print()

   *
  * *
 * * *
* * * *

In [30]:
n = 6
for i in range(n):
    print(" "*i, end=" ")
    for j in range(n-i):
        print(chr(65+j), end=" ")
    print()

 A B C D E F
  A B C D E
   A B C D
    A B C
     A B
      A

In [8]:
n = 6
for i in range(n):
    print(' ' * (i + 1) + ("*" + " ") * (n - i - 1))
print()

 * * * * *
  * * * *
   * * *
    * *
     *

#### Diamond

In [32]:
n = 4
for i in range(n):
    print(' '*(n-i-1)+'* '*(i+1))
for i in range(n-1):
    print(' '*(i+1)+'* '*(n-i-1))

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [5]:
n = 4
for i in range(n):
    for j in range(i+1):
        print('*', end=" ")
    print()
for i in range(n-1):
    for j in range(i,n-1):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [13]:
n = 4
for i in range(n):
    print("* "*(i+1))
for i in range(n-1):
    print("* "*(n-i-1))
print()

*
* *
* * *
* * * *
* * *
* *
*

In [20]:
n = 5
for i in range(n):
    print('  '*(n-i-1)+'* '*(i+1))

        *
      * *
    * * *
  * * * *
* * * * *

In [19]:
n = 4
for i in range(n):
    print('  '*(n-i-1)+'* '*(i+1))
for i in range(n-1):
    print('  '*(i+1)+'* '*(n-i-1))

      *
    * *
  * * *
* * * *
  * * *
    * *
      *